<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
	<head>
	<title>TrustCommerce Subscription Library</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="description" content="A Ruby library to manage subscriptions through TrustCommerce" />
		<meta name="keywords" content="trustcommerce, trust commerce, billing, credit cards, merchant account, subscription, citadel, ruby, gem, rubyforge, library, rails, plugin, depixelate, zack chandler" />
		<meta name="author" content="Zack Chandler" />
		<link rel="stylesheet" type="text/css" media="screen" href="screen.css" />
		<script type="text/javascript">
		var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
		document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
		</script>
		<script type="text/javascript">
		var pageTracker = _gat._getTracker("UA-753732-4");
		pageTracker._initData();
		pageTracker._trackPageview();
		</script>
	</head>
	<body>
		<div id="wrap">
			<p><img id="logo" src="tc_ruby.gif" /></p>
			<h1>TrustCommerce Subscription Library</h1>
			<p id="rubyforge-links">
				<a href="http://rubyforge.org/viewvc/?root=trustcommerce">Browse code</a> |
	      <a href="http://trustcommerce.rubyforge.org/doc/">Docs</a> |
	      <a href="http://rubyforge.org/frs/?group_id=3093">Downloads</a> |
	      <a href="http://rubyforge.org/tracker/?group_id=3093">Bugs &amp; Patches</a>
			</p>
			<%= erb_data[:readme] %>
			<div id="footer">
				By <a href="http://depixelate.com">Zack Chandler</a>
			</div>
		</div>
	</body>
</html>